<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Modify Events</title>

    <link href="css/businessOwlEvents.css" type="text/css" rel="stylesheet"/>
    <link href="css/templateStyles.css" type="text/css" rel="stylesheet"/>
    <link href="css/venue-events.css" type="text/css" rel="stylesheet"/>


</head>
<body>

<div class="backGround-3"></div>

<div id="topBar">
    <h1>
        <img src="https://tinyurl.com/kge9mqk" class="img-circle"/>
        <span id="logo" style="display:block">OWLZ</span>
    </h1>
</div>
<ul id="navBar">
    <li class="navItem"><a href="BusinessOwlAddEvents.html">Add Events</a></li>
    <li class="navItem"><a href="BusinessOwlModifyEvents.html" class="active">Modify Events</a></li>
    <li class="navItem"><a href="businessOwner.html">My Account</a></li>
    <li class="searchBar">
        <input type="search" id="searchBar" class="flatInputBox"/>
        <input type="submit" id="searchButton" value="Search"/>
    </li>
</ul>

<div id="title" align="center">
    <h1>
        Modify Events
    </h1>
</div>

<!-- Start writing inside mainbox -->

<div id="mainBox">
    <div class="mainForm">

        <table cellspacing="12px" align="center">
            <tr>
                <td class="topPad"></td>
            </tr>
            <tr>
                <td class="title">Event Name:</td>
                <td><input type="text" name="name" class="inputBox"/></td>
                <td class="rightPad"></td>
            </tr>
            <tr>
                <td class="title">Event Location:</td>
                <td><input type="text" name="location" class="inputBox"/></td>
            </tr>
            <tr>
                <td class="title">Ticket Price:</td>
                <td><input type="text" name="price" class="inputBox"/></td>
            </tr>
            <tr>
                <td class="title">Description:</td>
                <td><textarea rows="4" cols="19"></textarea></td>
            </tr>
            <tr>
                <td class="title">Event Time:</td>
                <td><input type="text" name="time" class="inputBox"/></td>
                <td class="rightPad"></td>
            </tr>
            <tr>
                <td class="title">Event Date:</td>
                <td><input type="date" name="date" class="inputBox" placeholder="mm/dd/yy"/></td>
                <td class="rightPad"></td>
            </tr>
            <tr>
                <td class="title">Number of Tables:</td>
                <td><input type="text" name="tables" class="inputBox" /></td>
            </tr>
            <tr>
                <td class="title">Venue:</td>
                <td><input type="text" name="venue" class="inputBox"/></td>
            </tr>
            <tr>
                <td class="title">
                    <div class="newButton" onclick="location.href='genericPage2.html';">
                        Go!
                    </div>
                </td>
            </tr>
            <tr>
                <td class="bottomPad"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>