<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Fun Owl Homepage</title>

    <link th:href="@{css/templateStyles.css}" type="text/css" rel="stylesheet"/>
	<link th:href="@{css/signUpPageStyles.css}"  type="text/css" rel="stylesheet"/>

</head>
<body>
    <div class="backGround-1"></div>

    <div id="topBar">
        <h1>
            <img th:src="@{https://tinyurl.com/kge9mqk}" class="img-circle"/>
            <span id="logo" style="display:block">OWLZ</span>
        </h1>
    </div>
    <ul id="navBar">
        <li class="navItem-center"><h2>Fun Owl Sign Up</h2></li>
    </ul>

    <!-- Start writing inside mainbox -->

    <div id="mainBox">
        <div class="mainForm">

            <table cellspacing="12px" align="center">
                <tr>
                    <td class="topPad"></td>
                </tr>
                <tr>
                    <td class="title">User Name:</td>
                    <td><input id="username" type="text" name="username" class="inputBox" placeholder="Pick a cool one!"/></td>
                    <td class="rightPad"></td>
                </tr>
                <tr>
                    <td class="title">Password:</td>
                    <td><input id="pw1" type="password" name="pw1" class="inputBox"/></td>
                </tr>
                <tr>
                    <td class="title">Confirm Password:</td>
                    <td><input id="pw2" type="password" name="pw2" class="inputBox"/></td>
                </tr>
                <tr>
                    <td class="title">Email:</td>
                    <td><input id="email" type="email" name="email" class="inputBox" placeholder="example@website.ex"/></td>
                </tr>
                <tr>
                    <td class="title">Name:</td>
                    <td><input id="name" type="text" name="name" class="inputBox" placeholder="First Last"/></td>
                    <td class="rightPad"></td>
                </tr>
                <tr>
                    <td class="title">Phone Number:</td>
                    <td><input id="phoneNum" type="tel" name="phoneNum" class="inputBox" placeholder="xxx-xxx-xxxx"/></td>
                </tr>
                <tr>
                    <td class="title">Date of Birth:</td>
                    <td><input id="birthday" type="date" name="birthday" class="inputBox" placeholder="mm/dd/yy"/></td>
                </tr>
                <tr>
                    <td class="title">Address:</td>
                    <td><input id="address" type="text" name="address" class="inputBox"/></td>
                </tr>
                <tr>
                    <td class="title">Zip Code:</td>
                    <td><input id="zipCode" type="text" name="zipcode" class="inputBox"/></td>
                </tr>
                <tr>
                    <td class="title">Gender:</td>
                    <td>
                        <select id="gender" class="inputBox">
                            <option value = "Male">Male</option>
                            <option value = "Female">Female</option>
                            <option value = "Trans-Male">Trans-Male</option>
                            <option value = "Trans-Female">Trans-Female</option>
                            <option value = "Other / Prefer Not To Say">Other / Prefer Not To Say</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <div class="newButton" onclick="makeAccount();">
                            Go!
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bottomPad"></td>
                </tr>
            </table>
            </div>
    </div>

</body>

<script type="text/javascript" th:src="@{js/signUpFEController.js}"></script>

</html>